<article class="card">
    <div class="card-body mb-2">
        <p>{{item.origen}}</p>
        <p>{{item.shortURL}}</p>
        <a href="/eliminar/{{item._id}}" class="btn btn-danger">Eliminar</a>
        <a href="/editar/{{item._id}}" class="btn btn-warning">Editar</a>
        <button data-short="{{item.shortURL}}" href="#" class="btn btn-info">copiar</button>
    </div>
</article>